<div class="container__big_card">
    <div class="big-card__photo">
        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*qgo4_MwETtxdspEqt12sNA.png" alt="">
    </div>
    <div class="big-card_title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
         </h1>
    </div>
    <div class="big-card_description">
        <p><a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sit, odio quod praesentium quas modi sint aliquam! Non ipsum eius provident at porro sint quaerat facere obcaecati cumque dolorum assumenda facilis quod dicta ipsa quos delectus odit dolor, dignissimos minus! Facere exercitationem dolores maiores ratione. Deleniti facere dolorem deserunt magni!
        </a></p>
    </div>
</div>